#Adresse2{
    margin: 15px;
}

#Adresse {
    margin: 15px;
}

#nom {
    margin: 15px;
}

#sexe {
    margin: 15px;
}

#plateformes{
    margin: 15px;
}

#p1{
    margin: 15px;
}

#pays{
    margin: 15px;
}