div{
    border: 1px solid black;
   
}

.div1{
    position: relative;
    left: 500px;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.carre{
    position: relative;
    border: 3px solid black;
    left: 1450px;
    height: 30px;
    width: 30px;
    top: -570px;

}


